<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzq.server.mapper.BzRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jzq.server.pojo.BzRecord">
        <id column="record_id" property="recordId" />
        <result column="record_index" property="recordIndex" />
        <result column="record_text" property="recordText" />
        <result column="record_user1" property="recordUser1" />
        <result column="record_user2" property="recordUser2" />
        <result column="record_user3" property="recordUser3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        record_id, record_index, record_text, record_user1, record_user2, record_user3
    </sql>

</mapper>
